<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Com.Sample.testcases.MenTest"/>
      <class name="Com.Sample.testcases.TrainingTest"/>
      <class name="Com.Sample.testcases.SearchFunctionalityTest"/>
      <class name="Com.Sample.testcases.GearTest"/>
      <class name="Com.Sample.testcases.WhatNewTest"/>
      <class name="Com.Sample.testcases.CreateAccountTest"/>
      <class name="Com.Sample.testcases.WomenTest"/>
      <class name="Com.Sample.testcases.SigninTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
